{# Configure Global setting -#}
config system global
    set admin-sport 10000
    set admintimeout 20
    set gui-theme blue
    set hostname "{{ config['hostname'] }}"
    set timezone 26
end

{# Configure default GW -#}
config router static
    edit 0
    set gateway {{ config['gateway']}}
    set device {{ config['wan']}}
next
end

{# Configure Default admin -#}
config system admin
    edit "admin"
        {% for trusthost in config['custadmin']['trusthost'] -%}
            set trusthost{{loop.index}} {{ trusthost }}
        {% endfor -%}
        set password {{ config['defaultadmin']['password']}}
    next
end

{# Configure aditional admin -#}
config system admin
    edit "{{ config['custadmin']['username'] }}"
        {% for trusthost in config['custadmin']['trusthost'] -%}
            set trusthost{{loop.index}} {{ trusthost }}
        {% endfor -%}
        set accprofile "super_admin"
        set vdom "root"
        set password {{ config['custadmin']['password'] }}
    next
end

{# Configure system DNS -#}
config system dns
    set primary {{config['dns']['primary']}}
    set secondary {{config['dns']['secondary']}}
    set domain "{{config['dns']['domain']}}"
end
